@import "../../../assets/scss/variables";
@import "../../../assets/scss/grid";

header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: $header-height;

  @include flex-row();

  z-index: 100000;

  img {
    height: 100%;
  }

  div {
    @include font-product();
    position: absolute;
    right: 0%;
    opacity: 0.5;
  }
}
